/* custom font */
@font-face {
  font-family: roboto;
  src: url(fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto;
  src: url(fonts/Roboto/Roboto-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: roboto;
  src: url(fonts/Roboto/Roboto-Light.ttf);
  font-weight: lighter;
}

/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: roboto, Arial, Helvetica, sans-serif;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Actual Styling Begins */
html {
  background-color: cornflowerblue;
}

.books-container {
  display: flex;
  flex-flow: wrap;
  width: 100%;
}

.book {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: calc(20% - 20px);
  border: 1px solid rgb(29, 186, 186);
  background-color: lightsteelblue;
  border-radius: 5%;
  font-size: 18px;
}

.book ul {
  padding: 1rem;
}

.book li {
  list-style: none;
}